name: "test install cli action"

on:
    pull_request:

jobs:
  test-install-cli:
    strategy:
        matrix:
          os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: install-zoo
      - name: check-install
        run: |
            echo "Version from output is: ${{ steps.install-zoo.outputs.version }}"
            zoo --version

  convert-with-powershell:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: install-zoo
      - name: convert
        run: zoo file convert --output-format=stl test-file.obj ./
        shell: powershell
        env: 
          ZOO_API_TOKEN: ${{ secrets.ZOO_API_TOKEN }}
          ZOO_HOST: https://api.dev.zoo.dev
